openapi: '3.1.0'
info:
  title: InsightHub
  version: 1.0.0
servers:
  - url: https://mny9hjtbri.ap-northeast-1.awsapprunner.com
    description: Production
  - url: http://0.0.0.0:8000
    description: Localhost Debug
paths:
  /api/book-analysis/analyze:
    post:
      summary: 本の分析を実行する
      description: 本の表紙の画像を受け取り、本のタイトル、著者名、カテゴリーを返却します
      operationId: analyzeBook
      tags:
        - book-analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_base64
              properties:
                image_base64:
                  type: string
                  format: base64
                  description: 本の表紙画像（base64エンコード）
      responses:
        '200':
          description: 本の分析が成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookAnalysisResult'
        '400':
          description: リクエストが不正
        '401':
          description: 認証エラー

  /api/books:
    post:
      summary: 本を登録する
      description: 本の情報を登録します
      operationId: createBook
      tags:
        - books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookCreate'
      parameters:
        - in: header
          name: user-id
          schema:
            type: string
          required: true
          description: ユーザーID
      responses:
        '200':
          description: 本の登録が成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookModel'
        '400':
          description: リクエストが不正
        '401':
          description: 認証エラー

  /api/books/img-upload:
    post:
      summary: 本の表紙画像をアップロード
      description: 本の表紙画像をSupabase Storageにアップロードします
      operationId: uploadBookImage
      tags:
        - books
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: アップロードする画像ファイル
      responses:
        '200':
          description: 画像のアップロードが成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                    description: 生成されたユニークなファイル名
                  url:
                    type: string
                    description: アップロードされた画像の公開URL
        '400':
          description: リクエストが不正
        '401':
          description: 認証エラー
        '500':
          description: サーバーエラー

  /api/auth/signin:
    post:
      summary: ログイン
      description: メールアドレスとパスワードでログインします
      operationId: signIn
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthCredentials'
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: メールアドレスまたはパスワードが正しくありません

  /api/auth/signup:
    post:
      summary: アカウント作成
      description: 新規アカウントを作成します
      operationId: signUp
      tags:
        - auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthCredentials'
      responses:
        '200':
          description: アカウント作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: アカウントが作成されました
        '400':
          description: アカウント作成失敗

  /api/auth/session:
    get:
      summary: セッション確認
      description: 現在のセッション情報を取得します
      operationId: getSession
      tags:
        - auth
      responses:
        '200':
          description: セッション有効
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: 未認証

  /api/auth/signout:
    post:
      summary: ログアウト
      description: 現在のセッションをログアウトします
      operationId: signOut
      tags:
        - auth
      responses:
        '200':
          description: ログアウト成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ログアウトしました
        '500':
          description: ログアウト失敗

components:
  schemas:
    BookAnalysisResult:
      type: object
      properties:
        title:
          type: string
          description: 分析された本のタイトル
        author:
          type: string
          description: 分析された著者名
        category:
          type: string
          description: 分析されたカテゴリー

    BookCreate:
      type: object
      required:
        - title
        - author
        - status
      properties:
        title:
          type: string
          description: 本のタイトル
        author:
          type: string
          description: 著者名
        status:
          type: string
          description: 読書状態
        category:
          type: string
          description: 本のカテゴリー
          nullable: true
        cover_image:
          type: string
          description: 本の表紙画像のURL
          nullable: true
        notes:
          type: string
          description: メモ
          nullable: true
        last_read_date:
          type: string
          format: date-time
          description: 最後に読んだ日時
          nullable: true
    
    BookModel:
      type: object
      required:
        - id
        - title
        - author
        - status
        - user_id
      properties:
        id:
          type: string
          description: 本のID
        title:
          type: string
          description: 本のタイトル
        author:
          type: string
          description: 著者名
        status:
          type: string
          description: 読書状態
        category:
          type: string
          description: 本のカテゴリー
          nullable: true
        cover_image:
          type: string
          description: 本の表紙画像のURL
          nullable: true
        notes:
          type: string
          description: 本に関するメモ
          nullable: true
        last_read_date:
          type: string
          format: date-time
          description: 最後に読んだ日時
          nullable: true
        user_id:
          type: string
          description: ユーザーID

    AuthCredentials:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
          description: ユーザーのメールアドレス
        password:
          type: string
          format: password
          description: ユーザーのパスワード

    User:
      type: object
      required:
        - id
        - email
      properties:
        id:
          type: string
          description: ユーザーID
        email:
          type: string
          format: email
          description: ユーザーのメールアドレス 
