openapi: '3.1.0'
info:
  title: InsightHub
  version: 1.0.0
servers:
  - url: https://mny9hjtbri.ap-northeast-1.awsapprunner.com
    description: Production
  - url: http://localhost:8080
    description: Localhost Debug.
paths:
  /api/book-analysis/analyze:
    post:
      summary: 本の分析を実行する
      description: 本の表紙の画像を受け取り、本のタイトル、著者名、カテゴリーを返却します
      operationId: analyzeBook
      tags:
        - book-analysis
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - image_base64
              properties:
                image_base64:
                  type: string
                  format: base64
                  description: 本の表紙画像（base64エンコード）
      parameters:
        - in: header
          name: user-id
          schema:
            type: string
          required: true
          description: ユーザーID
      responses:
        '200':
          description: 本の分析が成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookAnalysisResult'
        '400':
          description: リクエストが不正
        '401':
          description: 認証エラー

  /api/books:
    post:
      summary: 本を登録する
      description: 本の情報を登録します
      operationId: createBook
      tags:
        - books
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookCreate'
      parameters:
        - in: header
          name: user-id
          schema:
            type: string
          required: true
          description: ユーザーID
      responses:
        '200':
          description: 本の登録が成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookModel'
        '400':
          description: リクエストが不正
        '401':
          description: 認証エラー

  /api/books/img-upload:
    post:
      summary: 本の表紙画像をアップロード
      description: 本の表紙画像をSupabase Storageにアップロードします
      operationId: uploadBookImage
      tags:
        - books
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: アップロードする画像ファイル
      responses:
        '200':
          description: 画像のアップロードが成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  filename:
                    type: string
                    description: 生成されたユニークなファイル名
                  url:
                    type: string
                    description: アップロードされた画像の公開URL
        '400':
          description: リクエストが不正
        '401':
          description: 認証エラー
        '500':
          description: サーバーエラー

components:
  schemas:
    BookAnalysisResult:
      type: object
      properties:
        title:
          type: string
          description: 分析された本のタイトル
        author:
          type: string
          description: 分析された著者名
        category:
          type: string
          description: 分析されたカテゴリー

    BookCreate:
      type: object
      required:
        - title
        - author
        - status
      properties:
        title:
          type: string
          description: 本のタイトル
        author:
          type: string
          description: 著者名
        status:
          type: string
          description: 読書状態
          enum: ['未読']
          default: '未読'
        content:
          type: string
          description: 本の内容
        cover_image:
          type: string
          description: img-uploadで生成された画像のURL
          nullable: true
    
    BookModel:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: 本のID
        title:
          type: string
          description: 本のタイトル
        author:
          type: string
          description: 著者名
        content:
          type: string
          description: 本の内容
        analysis_result:
          type: object
          description: 分析結果
        created_at:
          type: string
          format: date-time
          description: 作成日時 
